AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: All
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
DerivePointerAlignment: false
IndentCaseLabels: false
IndentWidth: 8
PointerAlignment: Right
ReflowComments: true
SpacesBeforeTrailingComments: 1
UseTab: ForIndentation
