AlignArrayOfStructures: Right
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BasedOnStyle: LLVM
ColumnLimit: 0
ContinuationIndentWidth: 2
DerivePointerAlignment: false
IndentCaseLabels: false
IndentWidth: 2
PointerAlignment: Right
ReflowComments: true
SortIncludes: true
SpacesBeforeTrailingComments: 1
