Checks: >
  bugprone-*,
  cert-*-c,
  clang-analyzer-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-redundant-declaration,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.UnionCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case

HeaderFilterRegex: 'include/*/*.h'
# Local Variables:
# mode: yaml
# End:
