AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignOperands: DontAlign
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: AllDefinitions
BasedOnStyle: LLVM
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
ColumnLimit: 80
ContinuationIndentWidth: 8
DerivePointerAlignment: false
IndentCaseLabels: false
IndentWidth: 8
PointerAlignment: Right
ReflowComments: true
SortIncludes: false
SpacesBeforeTrailingComments: 1
UseTab: ForContinuationAndIndentation
